version: "3.4"

services:
  ib-gateway:
    restart: always
    container_name: tbot-on-tradingboat
    build:
      context: ./stable
      args:
        TBOT_TRADINGBOAT_GIT_REPO: ${TBOT_TRADINGBOAT_GIT_REPO:-https://github.com/bondjames12/tbot-tradingboat.git}
    environment:
      TWS_USERID: ${TWS_USERID}
      TWS_PASSWORD: ${TWS_PASSWORD}
      TRADING_MODE: ${TRADING_MODE:-paper}
      READ_ONLY_API: ${READ_ONLY_API:-}
      VNC_SERVER_PASSWORD: ${VNC_SERVER_PASSWORD:-}
      TVWB_UNIQUE_KEY: ${TVWB_UNIQUE_KEY:-}
      TVWB_HTTPS_PORT: ${TVWB_HTTPS_PORT:-5000}
      TBOT_LOGLEVEL: ${TBOT_LOGLEVEL:-DEBUG}
      TBOT_IB_LOGLEVEL: ${TBOT_IB_LOGLEVEL:-DEBUG}
      TBOT_PRODUCTION: ${TBOT_PRODUCTION:-False}
      TBOT_REDIS_HOST: ${TBOT_REDIS_HOST:-redis}
      TBOT_REDIS_PORT: ${TBOT_REDIS_PORT:-6379}
      TBOT_REDIS_PASSWORD: ${TBOT_REDIS_PASSWORD:-}
      TBOT_USES_REDIS_STREAM: ${TBOT_USES_REDIS_STREAM:-False}
      TBOT_REDIS_READ_TIMEOUT_MS: ${TBOT_REDIS_READ_TIMEOUT_MS:-10}
      TBOT_IBKR_PORT: ${TBOT_IBKR_PORT:-4001}
      TBOT_IBKR_CLIENTID: ${TBOT_IBKR_CLIENTID:-1}
      TBOT_IBKR_IPADDR: ${TBOT_IBKR_IPADDR:-127.0.0.1}
      TBOT_DB_HOME: ${TBOT_DB_HOME:-}
      TBOT_DB_OFFICE: ${TBOT_DB_OFFICE:-}
      TBOT_DISCORD_WEBHOOK: ${TBOT_DISCORD_WEBHOOK:-}
      TBOT_TELEGRAM_TOKEN: ${TBOT_TELEGRAM_TOKEN:-}
      TBOT_TELEGRAM_CHAT_ID: ${TBOT_TELEGRAM_CHAT_ID:-}
      TBOT_PROFILER: ${TBOT_PROFILER:-False}
    ports:
      - "127.0.0.1:4000:4000"
      - "127.0.0.1:4001:4001"
      - "127.0.0.1:4002:4002"
      - "0.0.0.0:59000:5900"
      - "0.0.0.0:50000:5000"
    depends_on:
      - redis

  redis:
    image: redis:7.0.10-alpine
    restart: always
    container_name: redis-on-tradingboat
    ports:
      - "0.0.0.0:6379:6379"
